<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Here</h2>
    {% if user.is_authencticated %}
        <h3>You are already logged in!</h3>
        <h4>Please log out first</h4>
        <a id="logout" href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" type="submit">Login</button>
        </form>
    {% endif %}
</body>
</html>