<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h3>Hello and Welcome {{ user.username }}</h3>
        <a id='logout' href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
        <h3>You are not logged in yet</h3>
        <a id='login' href="{% url 'login' %}"><button>Login</button></a>
        <a id='signup' href="{% url 'signup' %}"><button>Sign Up</button></a>
    {% endif %}
</body>
</html>