<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Sign Up Now</h2>
    {% if user.is_authencticated %}
        <h3>You are already logged in!</h3>
        <h4>Please log out first</h4>
        <a id="logout" href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" type="submit">Sign Up</button>
        </form>
    {% endif %}
</body>
</html>














<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up Here</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color:grey;">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html> -->